@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    background-color: lightgray;
}

h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h4{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.body{
    padding: 0;
    margin: 0;
}

.nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    height: 11%;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: dimgray;
}

nav .header{
    float: left;
    width: 15%;
    margin-left: 20px;
    height: 40%;
    margin-top: 1.5%;
    display: flex;
    font-size: 24px;
    color: #fff;
}

.container{
    position: relative;
    margin-top: 100px;
    display: block;
    width: 100%;
    height: 100px;
    justify-content: center;
    text-align: center;
}

.navbar{
    background-color: dimgray;
}

.ml-auto{
    margin-right: 5%;
    margin-top: 1%;
}

nav .links{
    float: left;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 70%;
    margin-left: 16%;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

nav .links .notactive:hover{
    opacity: 50%;
}

.active{
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top: solid;
    border-bottom: solid;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
}

input{
    opacity: 0;
}

strong{
    color: dodgerblue;
}
nav .iconB{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .iconB .line{
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}

@media screen and (max-width: 768px){
    nav .header{
        float: none;
        width: auto;
        justify-content: center;
        font-size: 20px;
    }

    nav .links{
        float: none;
        position: fixed;
        z-index: 0;
        left: 0;
        right: 0;
        top: 67px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a{
        font-size: 18px;
    }

    nav .iconB{
        display: block;
    }

    nav :checked ~ .links{
        bottom: 300px;
    }

    nav .iconB{
        display: block;
    }


    nav :checked ~ .iconB .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked ~ .iconB .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked ~ .iconB .line:nth-child(2){
        opacity: 0;
    }
}

.total{
    border-top: solid;
    border-bottom: solid;
    margin: 20px 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d6e9f2;
}

.info{
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 300;
        line-height: 1.5em;
}

.icon{
    justify-content: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.iconMain{
    color: #f44336;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
    .btn-warning{
        margin: 0 0 0 0;
    }
  }

  h3{
      text-align: center;
  }

  .btn-warning{
      margin: auto;
  }

  .iconSecond{
      color: darkblue;
  }

  .iconThird{
      color: #0AD48B;
  }

  .info{
      text-align: center;
  }

   @media(min-width: 768px){
       .btn-warning{
           margin: 0 0 0 44%;
       }
   }